button {
  color: #fff;
  background-color: rgb(38, 191, 202);
  border: none;
  padding: 5px 15px;
}

input {
  padding: 3px;
}

th, td {
padding: 10px;
}

.tableWrapper{
margin-top: 20px;
padding: 20px;
background: #f6f6f6;
}
